body{
    font-family: Lucida, Helvetica, Arial, sans-serif;
}

.logo{
  width:100px;
  border-style: none;
  float: left;
  margin:0 5px 0 0;
}

img {
  border-style: none;
  width:100px;
  margen:5px;
}

h1{
    font-size: 25px;
    padding-top: 25px;
    font-style: italic;
}

p{
  font-style: italic;;
  font-weight: bold;
  text-align: center;
}

#main{
  /*background-color: #CCFFFF;*/
  background-color: #fff;
  width:500px;
  float: left;
}
#sidebar{
  /*background-color:*/
  background-color:#ddd
  width: 200px;
  float: right;
}

#footer{
  /*background-color:*/
  background-color: #eded78;
  color: green;
  font-weight: bold;
}

  #container{
    /*background-color:*/
    background-color: #0000FF;
    width: 750px;
    margin: 0 auto;
  }

  #nav{
    list-style-type: none;
    margin:0;
    padding:0;
  }

  #nav li{
    float:left;
  }
  #nav a:link, #nav a:visited{
    font-weight: bold;
    color: #fff
    background-color: #98bf21;
    display:block;
    width:125px;
    text-align: center;
    text-decoration:none;
    padding:4px 0;
  }

#nav a:hover, #nav a:active{
  background-color: #7a991a;
}
